- if resource.errors.any?
  %div.bg-red-50.border.border-red-200.text-red-800.p-4.rounded.mb-4.text-sm
    %strong.block.mb-2= "#{pluralize(resource.errors.count, 'error')} prevented this form from being submitted:"
    %ul.list-disc.pl-5
      - resource.errors.full_messages.each do |msg|
        %li= msg
