%div
  = f.label :current_password, class: "block text-sm font-medium text-gray-700"
  %p.text-sm.text-gray-500.mt-1 (we need your current password to confirm your changes)
  = f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
